In [ ]:
# conda create --clone pyvizenv --name smallcapcryptosenv -y

In [ ]:
# conda activate smallcapcryptosenv

In [ ]:
# !conda install -c anaconda seaborn -y

In [ ]:
# !pip install pycoingecko

In [2]:
# Initial Imports
import pandas as pd
import os
from pathlib import Path

import requests
# import numpy as np
# from dotenv import load_dotenv

# from MCForecastTools import MCSimulation
# import datetime as dt
# import seaborn
# import matplotlib.pyplot as plt
# import panel as pn
# from panel.interact import interact
# import plotly.express as px

# from datetime import datetime

# pn.extension("plotly")
# %matplotlib inline

In [3]:
from pycoingecko import CoinGeckoAPI
cg = CoinGeckoAPI()

In [11]:
def time_range(delta=365):
	timestamp_2 = pd.Timestamp("today",unit="s") # current date as timestamp
	timestamp_1 = timestamp_2 - pd.to_timedelta(delta, unit="Days")
	
	unix_1 = timestamp_1.timestamp()
	unix_2 = timestamp_2.timestamp()
	
	dates = {
		"date_1": [timestamp_1,unix_1],
		"date_2": [timestamp_2,unix_2]
	}
	return dates

In [12]:
dates = time_range()
dates

{'date_1': [Timestamp('2021-04-05 13:19:46.403932'), 1617628786.403932],
 'date_2': [Timestamp('2022-04-05 13:19:46.403932'), 1649164786.403932]}

In [ ]:
# my_timestamp = pd.Timestamp("today",unit="s")
# my_timestamp.Timestamp("")

my_str = '[1619740800000, 23.327418267811513]'
my_str

In [43]:
df = pd.read_csv(Path("../Data/bitcoin.csv"))
df.drop(df.columns[0],axis=1,inplace=True)

In [44]:
# df = df_raw[['prices','market_caps','total_volumes']]
df

,prices,market_caps,total_volumes
0,"[1617667200000, 58706.81559311396]","[1617667200000, 1096202611389.9541]","[1617667200000, 54670173277.08731]"
1,"[1617753600000, 58062.17872433649]","[1617753600000, 1084341670320.8142]","[1617753600000, 61497704158.13829]"
2,"[1617840000000, 56134.41738866435]","[1617840000000, 1050759681844.6099]","[1617840000000, 67617613532.43307]"
3,"[1617926400000, 58065.644024815316]","[1617926400000, 1083362883828.1199]","[1617926400000, 48714359354.07226]"
4,"[1618012800000, 58152.993262141834]","[1618012800000, 1085794662404.731]","[1618012800000, 45880879041.76103]"
...,...,...,...
360,"[1648771200000, 45528.40715313835]","[1648771200000, 865010142444.9791]","[1648771200000, 27736469645.537262]"
361,"[1648857600000, 46270.20070585378]","[1648857600000, 879144224206.3806]","[1648857600000, 32948605532.135277]"
362,"[1648944000000, 45842.14476317382]","[1648944000000, 871050305858.7916]","[1648944000000, 24803837259.76474]"
363,"[1649030400000, 46434.562982661664]","[1649030400000, 882346640419.069]","[1649030400000, 21510196790.30345]"
364,"[1649116800000, 46622.63571309101]","[1649116800000, 885584977681.2438]","[1649116800000, 28019309650.72574]"

In [39]:
df_raw.drop(df_raw.columns[0],inplace=True,axis=1)
df_raw

                             market_caps                        total_volumes
0    [1617667200000, 1096202611389.9541]   [1617667200000, 54670173277.08731]
1    [1617753600000, 1084341670320.8142]   [1617753600000, 61497704158.13829]
2    [1617840000000, 1050759681844.6099]   [1617840000000, 67617613532.43307]
3    [1617926400000, 1083362883828.1199]   [1617926400000, 48714359354.07226]
4     [1618012800000, 1085794662404.731]   [1618012800000, 45880879041.76103]
..                                   ...                                  ...
360   [1648771200000, 865010142444.9791]  [1648771200000, 27736469645.537262]
361   [1648857600000, 879144224206.3806]  [1648857600000, 32948605532.135277]
362   [1648944000000, 871050305858.7916]   [1648944000000, 24803837259.76474]
363    [1649030400000, 882346640419.069]   [1649030400000, 21510196790.30345]
364   [1649116800000, 885584977681.2438]   [1649116800000, 28019309650.72574]

[365 rows x 2 columns]

In [17]:
type(df['prices'])

pandas.core.series.Series

In [ ]:
# for value in df['prices']:
# 	new_str = value.replace("[", "").replace("]","")#.replace("00000",".")
# 	new_str = new_str.split(', ')[0]
# 	date = float(new_str)
# 	date_list.append(date)
	
# datetime_list = []
# for date in date_list:
# 	datetime_list.append(datetime.utcfromtimestamp(date/1000).strftime('%Y-%m-%d %H:%M:%S'))

In [ ]:
# def time_range(delta=365):
# 	timestamp_2 = pd.Timestamp("today", tz="America/Chicago") # current date as timestamp
# 	timestamp_1 = date_2 - pd.to_timedelta(delta, unit="Days")
	
# 	dates = {
# 		"date_1": timestamp_1,
# 		"date_2": timestamp_2}
# 	return dates

In [ ]:
# def unix_date(dates):
# 	return [dates['date_1'].timestamp(), dates['date_2'].timestamp()]

In [ ]:
# def ticker_url(token_id, from_to):
# 	my_url = f"https://api.coingecko.com/api/v3/coins/{token_id}/market_chart/range?vs_currency=usd&from={from_to[0]}&to={from_to[1]}"
# 	return my_url

In [ ]:
# def get_to_csv(id_list, i):
# 	token_id = id_list[i]
# 	url = ticker_url(token_id,from_to) #custom method in this line--must change if changing method name
# 	token_json = requests.get(url).json()
# 	df = pd.DataFrame.from_dict(token_json, orient='columns', dtype=None, columns=None)
	
# 	df_dates = make_datetime_index(df) #custom method in this line--must change if changing method name
# 	df.set_index(df_dates,inplace=True)
# 	ticker_path = 'Data/' + token_id + '.csv'
# 	df.to_csv(ticker_path)

In [ ]:
# def unix_dates(df):
# 	unix_dates = []
# 	for i in range(len(df['prices'])):
# 		new_str = df['prices'][i].replace("[", "").replace("]","")
# 		new_str = new_str.split(', ')[0]
# 		date = float(new_str)
# 		unix_dates.append(date)
# 	return unix_dates

# def make_datetimes(unix_dates):
# 	datetimes = []
# 	for x in unix_dates:
# 		datetimes.append(datetime.utcfromtimestamp(date/1000).strftime('%Y-%m-%d %H:%M:%S'))
# 	return datetimes

In [ ]:
# def filenames(id_list):
# 	for i in range(len(id_list)):
# 		get_to_csv(id_list,i)

In [ ]:
# dates = time_range()
# from_to = unix_date(dates)

In [ ]:
# dates

In [ ]:
# from_to

In [ ]:
# id_list = [
# 	'maple',
# 	'bitcoin'
# ]

In [ ]:
# csv_paths = []
# for item in id_list:
# 	csv_paths.append("Data/" + item + ".csv")
# csv_paths

In [ ]:

# df = pd.read_csv(Path("Data/bitcoin.csv"))
# df

In [ ]:
# date_list = []

In [ ]:
# i = 0
# row
# value

In [ ]:
# for value in df['prices']:
# 	new_str = value.replace("[", "").replace("]","")#.replace("00000",".")
# 	new_str = new_str.split(', ')[0]
# 	date = float(new_str)
# 	date_list.append(date)
	
# datetime_list = []
# for date in date_list:
# 	datetime_list.append(datetime.utcfromtimestamp(date/1000).strftime('%Y-%m-%d %H:%M:%S'))

In [ ]:
# ts = date_list[0]/1000
datetime_list

In [ ]:
# print(datetime.utcfromtimestamp(date_list[0]/1000).strftime('%Y-%m-%d %H:%M:%S'))

In [ ]:
# datetime_list = []
# for date in date_list:
# 	datetime_list.append(datetime.utcfromtimestamp(date/1000).strftime('%Y-%m-%d %H:%M:%S'))

In [ ]:
# datetime_list

In [ ]:
# ts = int('1284101485')

# if you encounter a "year is out of range" error the timestamp
# may be in milliseconds, try `ts /= 1000` in that case
# print(datetime.utcfromtimestamp(date_list[0]/1000).strftime('%Y-%m-%d %H:%M:%S'))

In [ ]:
# dt3 = new_str.datetime.fromtimestamp(date_list[0]/1000)
# dt3
# date_time = datetime.datetime.fromtimestamp(epoch_time)

In [ ]:

# text.replace("[", "").replace("]","")

In [ ]:
# df.insert(-1,dates)

In [ ]:
# sliced_text = ', '
# print(text[sliced_text])

In [ ]:
# # importing the datetime package.
# import datetime.
# # given epoch time.
# epoch_time = 40246871.
# # using the datetime. fromtimestamp() function.
# date_time = datetime. datetime. fromtimestamp( epoch_time )

In [ ]:
# date_vals = pd.Series(["1440643875", "1440644191", "1440645638", "1440998720"])