In [ ]:
# conda create --clone pyvizenv --name smallcapcryptosenv -y

In [ ]:
# conda activate smallcapcryptosenv

In [ ]:
# !conda install -c anaconda seaborn -y

In [ ]:
# !pip install pycoingecko

In [158]:
# Initial Imports
import pandas as pd
import os
from pathlib import Path

import requests
from pycoingecko import CoinGeckoAPI
cg = CoinGeckoAPI()

# import numpy as np
# from dotenv import load_dotenv

# from MCForecastTools import MCSimulation
# import datetime as dt
# import seaborn
# import matplotlib.pyplot as plt
# import panel as pn
# from panel.interact import interact
# import plotly.express as px

# pn.extension("plotly")
# %matplotlib inline

In [159]:
# from pycoingecko import CoinGeckoAPI
# cg = CoinGeckoAPI()

In [160]:
def get_date_range(delta=365):
	datetime_2 = pd.Timestamp("today").normalize() # current date as timestamp
	datetime_1 = datetime_2 - pd.to_timedelta(delta, unit="Days")
	
	dates = {
		"date_1": [datetime_1,datetime_1.timestamp()],
		"date_2": [datetime_2,datetime_2.timestamp()]}
	return dates

In [169]:
def ticker_url(token_id, date_range):
	my_url = f"https://api.coingecko.com/api/v3/coins/{token_id}/market_chart/range?vs_currency=usd&from={date_range['date_1'][1]}&to={date_range['date_2'][1]}"
	return my_url

In [170]:
def get_json_from_api(url):
	return requests.get(url).json()

In [171]:
crypto_list = pd.read_csv(Path("Resources/crypto_list.csv"))
crypto_list.drop(crypto_list.columns[-1],axis=1,inplace=True)

In [172]:
# csv_paths = []
# for item in id_list:
# 	csv_paths.append("Data/" + item + ".csv")
# csv_paths

In [173]:
crypto_list.tail()

   ticker        crypto_name           token_id
38   LQTY            LIQUITY            liquity
39   BOND         BARNBRIDGE         barnbridge
40    TRB             TELLOR             tellor
41    ASM  ASSEMBLE PROTOCOL  assemble-protocol
42    NCT          POLYSWARM          polyswarm

In [174]:
# token_id_list = crypto_list['token_id']
# token_id_list.tail() # pd.Series

### Coingecko API get request

In [175]:
my_dates = get_date_range() # this should only run once--keep out of loop
# my_dates['date_1'][0] # output (datetime):  Timestamp('2021-04-05 00:00:00')
# my_dates['date_1'][1] # output (unix time): 1617580800.0

    -> Run loop of get requests for cryptos

In [176]:
# i = 0

In [177]:
# len(crypto_list) # output: 43

In [180]:
# crypto_list

In [181]:
i = 0
for i in range(len(crypto_list)):
	token_id = crypto_list['token_id'][i] # this should run within api call loop -- declare new token_id each api call from id_list
	url = ticker_url(token_id,date_range) # this should run within api call loop -- new url each request
	crypto_json = get_json_from_api(url)
	
	df = pd.DataFrame.from_dict(crypto_json)
	raw_list = []
	
	j = 0
	for j in range(len(df['prices'])):
		raw = int(df['prices'][j][0]/1000)
		raw_list.append(raw)
	
	df_dates = pd.to_datetime(raw_list, unit='s')
	
	df.insert(0,'date',df_dates)
	df.set_index('date',inplace=True)

	ticker_path = 'Data/' + token_id + '.csv'
	df.to_csv(ticker_path)

In [182]:
# # pandas.to_datetime(col, unit = "s")
# raw_list = []
# for i in range(len(df['prices'])):
# 	raw = int(df['prices'][i][0]/1000)
# 	raw_list.append(raw)

# df_dates = pd.to_datetime(raw_list, unit='s')

# df.insert(0,'date',df_dates)
# df.set_index('date',inplace=True)
# df

In [184]:
# for value in df['prices']:
# 	new_str = value.replace("[", "").replace("]","")#.replace("00000",".")
# 	new_str = new_str.split(', ')[0]
# 	date = float(new_str)
# 	date_list.append(date)

# raw = int(df['prices'][0][0]/1000)
# type(raw)
# type(raw)
# raw
# raw.replace("[", "").replace("]","")#.replace("00000",".")

In [183]:
# type(pd.date_range(start=my_dates['date_1'][0],end=my_dates['date_2'][0],freq='D'))
# df = pd.DataFrame.from_dict(crypto_json)

# df.set_index(pd.date_range(start=my_dates['date_1'][0],end=my_dates['date_2'][0],freq='D'),inplace=True)
# df = pd.DataFrame.from_dict(crypto_json)#, orient='columns', dtype=None, columns=None)
# df.date_range()
# df

In [ ]:
# def get_json(url):
# 	return requests.get(url).json()
	
# 	token_id = id_list[i]
# 	url = ticker_url(token_id,from_to) #custom method in this line--must change if changing method name
# 	df = pd.DataFrame.from_dict(token_json, orient='columns', dtype=None, columns=None)
	
# 	df_dates = make_datetime_index(df) #custom method in this line--must change if changing method name
# 	df.set_index(df_dates,inplace=True)
# 	ticker_path = 'Data/' + token_id + '.csv'
# 	df.to_csv(ticker_path)

In [59]:
# token_id

In [60]:
# url = ticker_url(token_id,date_range) # this should run within api call loop -- new url each request
# url

In [ ]:
# my_timestamp = pd.Timestamp("today",unit="s")
# my_timestamp.Timestamp("")

# my_str = '[1619740800000, 23.327418267811513]'
# my_str

In [ ]:
# for value in df['prices']:
# 	new_str = value.replace("[", "").replace("]","")#.replace("00000",".")
# 	new_str = new_str.split(', ')[0]
# 	date = float(new_str)
# 	date_list.append(date)
	
# datetime_list = []
# for date in date_list:
# 	datetime_list.append(datetime.utcfromtimestamp(date/1000).strftime('%Y-%m-%d %H:%M:%S'))

In [ ]:
# def time_range(delta=365):
# 	timestamp_2 = pd.Timestamp("today", tz="America/Chicago") # current date as timestamp
# 	timestamp_1 = date_2 - pd.to_timedelta(delta, unit="Days")
	
# 	dates = {
# 		"date_1": timestamp_1,
# 		"date_2": timestamp_2}
# 	return dates

In [ ]:
# def unix_date(dates):
# 	return [dates['date_1'].timestamp(), dates['date_2'].timestamp()]

In [ ]:
# def ticker_url(token_id, from_to):
# 	my_url = f"https://api.coingecko.com/api/v3/coins/{token_id}/market_chart/range?vs_currency=usd&from={from_to[0]}&to={from_to[1]}"
# 	return my_url

In [98]:
# def get_to_csv(id_list, i):
# 	token_id = id_list[i]
# 	url = ticker_url(token_id,from_to) #custom method in this line--must change if changing method name
# 	token_json = requests.get(url).json()
# 	df = pd.DataFrame.from_dict(token_json, orient='columns', dtype=None, columns=None)
	
# 	df_dates = make_datetime_index(df) #custom method in this line--must change if changing method name
# 	df.set_index(df_dates,inplace=True)
# 	ticker_path = 'Data/' + token_id + '.csv'
# 	df.to_csv(ticker_path)

In [ ]:
# def unix_dates(df):
# 	unix_dates = []
# 	for i in range(len(df['prices'])):
# 		new_str = df['prices'][i].replace("[", "").replace("]","")
# 		new_str = new_str.split(', ')[0]
# 		date = float(new_str)
# 		unix_dates.append(date)
# 	return unix_dates

# def make_datetimes(unix_dates):
# 	datetimes = []
# 	for x in unix_dates:
# 		datetimes.append(datetime.utcfromtimestamp(date/1000).strftime('%Y-%m-%d %H:%M:%S'))
# 	return datetimes

In [ ]:
# def filenames(id_list):
# 	for i in range(len(id_list)):
# 		get_to_csv(id_list,i)

In [ ]:
# dates = time_range()
# from_to = unix_date(dates)

In [ ]:
# dates

In [ ]:
# from_to

In [ ]:
id_list = [
	'maple',
	'bitcoin'
]

In [ ]:
# csv_paths = []
# for item in id_list:
# 	csv_paths.append("Data/" + item + ".csv")
# csv_paths

In [ ]:

# df = pd.read_csv(Path("Data/bitcoin.csv"))
# df

In [ ]:
# date_list = []

In [ ]:
# i = 0
# row
# value

In [185]:
# for value in df['prices']:
# 	new_str = value.replace("[", "").replace("]","")#.replace("00000",".")
# 	new_str = new_str.split(', ')[0]
# 	date = float(new_str)
# 	date_list.append(date)
	
# datetime_list = []
# for date in date_list:
# 	datetime_list.append(datetime.utcfromtimestamp(date/1000).strftime('%Y-%m-%d %H:%M:%S'))

In [ ]:
# ts = date_list[0]/1000
# datetime_list

In [ ]:
# print(datetime.utcfromtimestamp(date_list[0]/1000).strftime('%Y-%m-%d %H:%M:%S'))

In [ ]:
# datetime_list = []
# for date in date_list:
# 	datetime_list.append(datetime.utcfromtimestamp(date/1000).strftime('%Y-%m-%d %H:%M:%S'))

In [ ]:
# datetime_list

In [ ]:
# ts = int('1284101485')

# if you encounter a "year is out of range" error the timestamp
# may be in milliseconds, try `ts /= 1000` in that case
# print(datetime.utcfromtimestamp(date_list[0]/1000).strftime('%Y-%m-%d %H:%M:%S'))

In [ ]:
# dt3 = new_str.datetime.fromtimestamp(date_list[0]/1000)
# dt3
# date_time = datetime.datetime.fromtimestamp(epoch_time)

In [ ]:

# text.replace("[", "").replace("]","")

In [ ]:
# df.insert(-1,dates)

In [ ]:
# sliced_text = ', '
# print(text[sliced_text])

In [ ]:
# # importing the datetime package.
# import datetime.
# # given epoch time.
# epoch_time = 40246871.
# # using the datetime. fromtimestamp() function.
# date_time = datetime. datetime. fromtimestamp( epoch_time )

In [ ]:
# date_vals = pd.Series(["1440643875", "1440644191", "1440645638", "1440998720"])